/* Locker App CSS setting */
body{
  background-color: gray;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
}

.app_name{
  text-align: center;
  color: #fff;
  margin-top:10px;
}

.app_desc{
  text-align: center;
  color: teal;
}

.center-align{
  text-align: center;
}

.app_logo{
  height: 150px;
}

.login_input{
  margin-top: 20px;
}

.size-150{
  width:150px;
  height:150px;
}


/* Material Icons Self Hosting*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../icons/material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../icons/material/MaterialIcons-Regular.woff2) format('woff2'),
       url(../icons/material/MaterialIcons-Regular.woff) format('woff'),
       url(../icons/material/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}